RewriteEngine On
RewriteRule ^$ views/landing/index.php
RewriteRule ^admin/login$ views/admin/pages/login2.php
RewriteRule ^admin/logout$ views/admin/helper/login_routing.php?logout=1
#RewriteRule ^admin/sign_up_page$ views/admin/pages/signUp.php
#RewriteRule ^admin/childrens$ views/admin/pages/childrens.php
#RewriteRule ^admin/submit_child$ views/admin/pages/submitChild.php
#RewriteRule ^admin/completeSignUp$ views/admin/pages/registration-page.php
#RewriteRule ^admin/dashboard$ views/admin/pages/dashboard.php
#RewriteRule ^admin/registerParent$ views/admin/pages/registerParent.php